absl-py==2.1.0
ahocorapy==1.6.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
blis==0.7.11
boto3==1.35.69
botocore==1.35.69
Brotli==1.1.0
browser-cookie3==0.19.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloudscraper==1.2.71
colorama==0.4.6
comm==0.2.2
confection==0.1.5
ConfigArgParse==1.7
contourpy==1.2.1
coqpit==0.0.17
coqui-tts==0.24.2
coqui-tts-trainer==0.1.4
cryptography==42.0.8
cs-dlp @ file:///C:/Users/Ronal/cs-dlp/cs-dlp
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
dateparser==1.1.8
debugpy==1.8.2
decorator==5.1.1
deep-translator==1.11.4
defusedxml==0.7.1
distro==1.9.0
docopt==0.6.2
docx2txt==0.8
EbookLib==0.18
einops==0.8.0
elevenlabs==1.54.0
encodec==0.1.1
et_xmlfile==2.0.0
executing==2.0.1
fastapi==0.115.5
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.53.1
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-texttospeech==2.25.1
googleapis-common-protos==1.69.2
googletrans==4.0.0rc1
gradio==4.44.0
gradio_client==1.3.0
greenlet==3.1.1
grpcio==1.71.0
grpcio-status==1.71.0
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.10.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.25.2
hyperframe==5.2.0
idna==2.10
importlib_resources==6.4.5
inflect==7.4.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.26.0
isoduration==20.11.0
itsdangerous==2.2.0
jaconv==0.4.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonlines==1.2.0
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
kiwisolver==1.4.5
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
libretranslatepy==2.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
lute3==3.10.1
lxml==5.3.0
lz4==4.3.3
m3u8==5.1.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.10
mutagen==1.47.0
natto-py==1.0.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
num2words==0.5.13
numba==0.60.0
numpy==1.26.4
openai==1.68.2
openai-whisper @ git+https://github.com/openai/whisper.git@173ff7dd1d9fb1c4fddea0d41d704cfefeb8908c
openepub==0.0.8
openpyxl==3.1.5
orjson==3.10.11
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
platformdirs==3.11.0
platzi==0.6.0
playwright==1.51.0
pluggy==1.5.0
pooch==1.8.2
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.0
proto-plus==1.26.1
protobuf==5.28.3
psutil==6.0.0
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.11.3
pydantic_core==2.33.1
pydub==0.25.1
pyee==12.1.1
Pygments==2.18.0
pyhumps==3.8.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pyOpenSSL==24.1.0
pyparsing==3.2.3
pypdf==5.4.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pysbd==0.3.4
pyspellchecker==0.8.1
pytesseract==0.3.13
pytest==8.3.5
pytest-base-url==2.1.0
pytest-playwright==0.5.2
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.17
python-slugify==8.0.4
python-telegram-bot==21.10
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.4
rnet==2.2.1
rpds-py==0.18.1
rsa==4.9
ruff==0.7.4
s3transfer==0.10.4
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==70.3.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
srsly==2.4.8
stack-data==0.6.3
starlette==0.41.2
subtitle-parser==2.0.1
SudachiDict-core==20241021
SudachiPy==0.6.8
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
terminado==0.18.1
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
torch==2.5.1
torchaudio==2.5.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.42.4
translate==3.6.1
typeguard==4.4.1
typer==0.13.0
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
Unidecode==1.3.8
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.32.0
waitress==2.1.2
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wheel==0.43.0
wrapt==1.16.0
WTForms==3.2.1
xmltodict==0.14.2
yarl==1.14.0
yt-dlp==2024.7.9
